header {
  color: red;
}

body {
  font-size: 20px;
}
body div.proba {
  font-size: 10px;
}
body h1 {
  color: #fff;
}
body p.text {
  font: 14px;
  color: #000;
}
body p.text span {
  color: red;
  text-decoration: underline;
}
body .block {
  background-color: royalblue;
  padding: 10px 30px;
  margin: 20px;
  font-size: 30px;
}
body img {
  width: 400px;
}