@import "_stylenull";

body {
	font-size: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
	div.proba {
		font-size: 10px;
	}
	h1 {
		color: #fff;
	}
	p {
		margin: 20px 0;
	}
	p.text {
		font: 14px;
		color: #000;
		span {
			color: red;
			text-decoration: underline;
		}
	}
	.block {
		background-color: royalblue;
		padding: 10px 0 10px 30px;
		margin: 5px 0 30px;
		font-size: 30px;
	}
	img {
		width: 400px;
	}
	div.box-form {
		margin: 50px 0;
	}
}
