@import "_header";

body {
	font-size: 20px;

	div.proba {
		font-size: 10px;
	}
	h1 {
		color: #fff;
	}
	p.text {
		font: 14px;
		color: #000;
		span {
			color: red;
			text-decoration: underline;
		}
	}
	.block {
		background-color: royalblue;
		padding: 10px 30px;
		margin: 20px;
		font-size: 30px;
	}
	img {
		width: 400px;
	}
}
